{% extends 'users/base.html' %}

{% block title %}List of Awards{% endblock title %}

{% block content %}
    <h2>DREM Team of the year 2020 Award List</h2>
    <div>
        {% for award in awards %}
            Title: {{ award.title }}<br>
            Name: {{ award.name }}<br>
            Award: {{ award.award_title }}<br>
            Photo 1: <img src="{{ award.award_image_1.url }}" style="width: 100px; height=100px; border-radius: 20px;"><br>
            Photo 2: <img src="{{ award.award_image_2.url }}" style="width: 100px; height=100px; border-radius: 20px;"><br>
            Brief Profile: {{ award.brief_profile }}<br>

            {% if user.is_superuser %}
                <button class="btn btn-dange" style="color: white;"><a href="{% url 'awards:delete_award' award.id %}">Delete</a></button>
            {% endif %}
        {% endfor %}
    </div>

    {% include "pagination.html" %}
    <p>Add More Awards <a href="{% url 'awards:create_award' %}">Here</a></p>

{% endblock %}