{% extends 'users/base.html' %}

{% block title %}Award Details{% endblock title %}

{% block content %}
    <h2>Award Profile</h2>
    <div>
        Title: {{ title }}<br>
        Name: {{ name }}<br>
        Award: {{ award_title }}<br>
        Photo 1: <img src="{{ award_image_1 }}" style="width: 100px; height=100px; border-radius: 20px;"><br>
        Photo 2: <img src="{{ award_image_2 }}" style="width: 100px; height=100px; border-radius: 20px;"><br>
        Brief Profile: {{ brief_profile }}<br>
    </div>

    <a href="{% url 'awards:list_awards' %}">All Awards</a>
{% endblock %}