.card #header {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-align: center;
}

#drem_logo {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-right: 10px;
}

#clock {
    float: right;
}

#slide_1, #slide_2 {
    width: 50%;
    height: 50%;
}