{% extends 'users/base.html' %}

{% block title %}All Quiz Questions{% endblock title %}

{% block content %}
    <h2>All Quiz Questions Available</h2>
    <div>
        <p>
            {% for question in questions %}
                Question {{ question.id }}). {{ question.question }}<br>
                A: {{ question.option1 }}<br>
                B: {{ question.option2 }}<br>
                C: {{ question.option3 }}<br>
                D: {{ question.option4 }}<br>
                Answer: {{ question.answer }}<br>
                <button class="btn btn-danger"><a style="color: white;" href="{% url 'quiz:delete_question' question.id %}">DELETE</a></button>
                <hr>
            {% endfor %}
        </p>
    </div>
    <button class="btn btn-success"><a style="color: white;" href="{% url 'quiz:add_quiz' %}">Add Question</a></button>
{% endblock %}