{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Quiz Question And Answer{% endblock title %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">

        {% for i in questions %}
        <form method="post">
            <h1>Q{{i.id}}). {{ i.question }}</h1>
            {% csrf_token %}
            <div class="radio">
                <label><input type="radio" name="name"  id="option1" value="{{i.option1}}">{{i.option1}} </label>
            </div>
            <div class="radio">
                <label > <input type="radio" name="name"  id="option2" value="{{i.option2}}">{{i.option2}}</label>
            </div>
            <div class="radio">
                <label ><input type="radio" name="name" id="option3" value="{{i.option3}}">{{i.option3}}</label>
            </div>
            <div class="radio">
                <label ><input type="radio" name="name"  id="option4" value="{{i.option4}}">{{i.option4}} </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn  btn-success" id="submit">Submit Answer</button>
            </div>
        </form>
        {% endfor %}

        <nav aria-label="Page navigation example">
        <ul class="pagination">
            <span class="step-links">
                {% if questions.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a></li>
                {% endif %}
                <span class="current">
                    Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
                </span>
                {% if questions.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">Next</a></li>
                {% endif %}
            </span>
        </ul>
    </nav>
    </div>

{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#submit').on("click", function(e) {
                $(this).hide();
                e.preventDefault();
                console.log('better');
            })
        });
    </script>
{% endblock javascript %}