{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Quiz Section{% endblock title %}

    <style>
        a {
            width: 15%;
            height: 5%;
            background-color: rgb(243, 234, 234);
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>

{% block content %}
    <center><h1><a href="{% url 'quiz:take_questions' %}">Start Quiz</a></h1></center>
{% endblock %}