{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit Blog Post{% endblock title %}

{% block blog_content %}
    <div class="row">
        <div class="col-sm-8">
            <h1>Delete</h1>
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ post.title }}"?</p>
                <button class="btn btn-danger ml-2" type="submit">Confirm</button>
            </form>
        </div>

        <div class="col-sm-4">

        </div>
    </div>
{% endblock blog_content %}