{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block title %}New blog post{% endblock title %}

{% block blog_content %}

    <div class="row">
        <div class="col-sm-8">
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {% for field in form %}
                            <div class="form-label" style="font-style: italic; text-transform: capitalize; padding-top: 10px; padding-bottom: 5px; font-weight: bold;">
                                {{ field.label }}
                            </div>

                            <div class="form-control">
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>

                    <button class="btn btn-success" type="submit">
                        Add Category
                    </button>
                </form>
            </div>
        </div>

        <div class="col-sm-4">

        </div>
    </div>
{% endblock blog_content %}

<!--
    <h1>New blog post</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Post</button>
    </form>
-->