<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Title</title>
</head>
<body style="background-color: var(--body-color); font-family: 'Poppins', sans-serif;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <span class="step-links">
                {% if awards.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ awards.previous_page_number }}">Previous</a></li>
                {% endif %}
                <span class="current">
                    Page {{ awards.number }} of {{ awards.paginator.num_pages }}.
                </span>
                {% if awards.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ awards.next_page_number }}">Next</a></li>
                {% endif %}
            </span>
        </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>