{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login Form{% endblock title %}


{% block content %}
    <div>
        <h3>Please fill the form below to login.</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group flex-nowrap">
                <span class="input-group-text">
                    <i class="fas fa-user"></i>
                </span>
                {{ form.username }}
            </div>
            <br>
            <div class="input-group flex-nowrap">
                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                </span>
                {{ form.password }}
            </div>
            <input type="checkbox" onclick="showPassword()">Show Password
            <br>
            <button class="btn btn-success" type="submit">
                Login
            </button>

            <div class="form-group">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </form>
        <br>
        <button class="btn btn-info">
            <a href="{% url 'users:password_reset' %}">Forgot Your Password?</a>
        </button>
    </div>
    <script>
        function showPassword() {
            var x = document.getElementById('id_password');
            if (x.type === 'password') {
                x.type = 'text';
            } else {
                x.type = 'password'
            }
        }
    </script>
{% endblock %}