{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login Form{% endblock title %}


{% block content %}
    <div>
        <h3>Please fill the form below to login.</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <div class='error'>{{form.errors.username}}</div>
                <div class='error'>{{form.errors.password}}</div>

                {% for field in form %}
                    <div class="form-label" style="font-style: italic; text-transform: capitalize; padding-top: 10px; padding-bottom: 5px; font-weight: bold;">
                        {{ field.label }}:
                    </div>

                    <div style="color: red;">
                        {{ field.errors }}
                    </div>

                    <div class="form-control">
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <button class="btn btn-success" type="submit">
                Login
            </button>

            <div class="form-group">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}