{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Form{% endblock title %}


{% block content %}
  <div>
      <form>
          <div class="input-group flex-nowrap">
                <span class="input-group-text">
                    <i class="fas fa-user"></i>
                </span>
                {{ form.username }}
            </div>


          <input type="text" class="form-control" id="floatingInput" name="uid" placeholder="enter a unique username"
                 autocomplete="off" hidden value="{{uid}}">
          <div class="form-floating">
              <input type="password" class="form-control" name="new_password" id="floatingPassword" placeholder="Password" autocomplete="off">
              <label for="floatingPassword">New password</label>
          </div>
      </form>
  </div>
{% endblock %}