{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <h2>Hi {{ user.first_name }} {{ user.last_name }}!!!</h2>
        <h3>Do you have any prayer request?</h3>
        <h3>Please fill the form below to submit your prayer request</h3>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Submit Prayer Request</button>
    </form>
    <p>Remain blessed in Jesus Name</p>
</body>
</html>