{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Application Form{% endblock title %}

{% block content %}
<div>
    <h1>WELCOME TO SOPHUS BIBLE INSTITUTE(S.B.I)</h1>
</div>

<div>
    Click <button class="btn btn-info" id="application" style="padding: 1px;"><a>Application</a></button> to apply as a student of S.B.I
    <div class="form-group">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top:10px">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div id="hide_form" style="display: none;">
        <h3>Please Enter Your Student Application Login Code:</h3>
        <form method="post" action="{% url 'school:code_login' %}">
            {% csrf_token %}
            <label>Login Code:</label>
            <input type="text" name="login_code">
            <input type="submit" name="submit" class="btn btn-success" value="Submit"/>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  $('#application').click(function() {
    $('#hide_form').show();
  })
});
</script>
{% endblock javascript %}